.article {
  margin-bottom: 120px;
}

.container.article {
  padding-bottom: 0;
}

.article__title {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 59px;
}

.article__title a.link {
  text-decoration: none;
}
