.lang__container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 18px;
}

.lang {
  position: relative;
  width: 60px;
  z-index: 1;
}

.lang:not(:first-of-type) {
  margin-left: 8px;
}

.lang:not(.lang--active) {
  z-index: 2;
}
