.footer__container {
  display: block;
  background-color: #f1f1f1;
}

.footer {
  padding-top: 73px;
  padding-bottom: 95px;
}

/* навигация */

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__item {
  margin-bottom: 16px;
  padding: 0;
}
