.footer__container {
  display: block;
  background-color: #f1f1f1;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  padding-top: 73px;
  padding-bottom: 95px;
}

.footer__section {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 16px);
}

.footer__section:not(:last-of-type) {
  margin-right: 16px;
}

.footer__title {
  margin-bottom: 16px;
}

/* навигация */
.footer-nav {
  margin-bottom: 40px;
}

.footer-nav__item {
  padding: 0;
}

.footer-nav__item:not(:last-of-type) {
  margin-bottom: 16px;
}

/* соцсети */
.footer-social__list {
  margin-left: -4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.footer-social__item:not(:last-of-type) {
  margin-right: 8px;
}

.footer-social__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.footer-social__link svg {
  color: inherit;
}

/* подписка */
.footer-subscription__row {
  display: block;
  margin-bottom: 8px;
}

.footer-subscription__row:last-of-type {
  margin-bottom: 16px;
}

.footer-subscription__row--checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.footer-subscription__checkbox {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #f9f9fb;
  border: none;
  box-shadow: inset 0 0 0 1px #c7d2e9;
  border-radius: 4px;
  overflow: hidden;
}

.footer-subscription__checkbox + span {
  margin-left: 8px;
  line-height: 24px;
}
