.site-nav {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.site-nav__list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
}

.site-nav__item {
  margin-top: 8px;
}

.site-nav__item:not(:last-of-type) {
  margin-right: 40px;
}
